*.pyc
LabRAD.ini
Errors.log
.project
.pydevproject
.recent.ini
.DS_store
.directory
SWITCH_CONTROL_config.py
DDS_CONTROL_config.py
PICOMOTOR_CONTROL_config.py
APT_config.py
connection_config.py
*~
DacConfiguration.py
.settings
*.npy
devel/bum/scriptscanner2/PulseSequence.pdf
devel/bum/scriptscanner2/reference_image.pdf
devel/bum/scriptscanner2/configuration.py
devel/bum/scriptscanner2/sequences/pulse_sequences_config.py
client_config.py	


