class stageConfiguration(object):
    """
    Stores complete configuration for each of the channels
    """
    #list of devices in the form [(stage_name, stage_serial), ...]
    devicenames = [('axial', 83825962),('Axial UD',83815664)]